.video_vw {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.slider{
    margin-left: 25vw;
    margin-right: auto;
    width : 50vw;
}

#meter_slider{
    text-align:center;
}

#kernel_slider{
    text-align:center;
}

#player{
    margin-top: 2.5vw;
    text-align:center;
}

#colorinput{
    text-align:center;
}
